<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @member.user %>
</p>

<p>
  <strong>Team:</strong>
  <%= @member.team %>
</p>

<%= link_to 'Edit', edit_event_team_member_path(@team , @member) %> |
<%= link_to 'Back', event_team_members_path(@team) %>
