<p id="notice"><%= notice %></p>

<h1>Teams</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Members</th>
      <th>Event</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @teams.each do |team| %>
      <tr>
        <td><%= team.name %></td>
        <td><%= team.members %></td>
        <td><%= team.event_id %></td>
        <td><%= link_to 'Show', event_team_path(@event, team) %></td>
        <td><%= link_to 'Edit', edit_event_team_path(@event, team) %></td>
        <td><%= link_to 'Destroy', event_team_path(@event, team), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Team', new_event_team_path(@event) %> |
<%= link_to 'Back', event_path(@event) %>

